body {
  font-family: Arial, sans-serif;
  background: #f4f6fa;
}

.center {
  text-align: center;
  margin-top: 120px;
}

.card {
  background: white;
  padding: 20px;
  width: 320px;
  margin: 30px auto;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}